<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermano</title>
</head>
<body>
    <h3> Se llama {{ nombre }}, tiene {{ edad }} años y nació el {{ nacimiento }} </h3>
o para que quede más lindo (porque no se como hacer que me reconozca los acentos y la ñ)
    <h3> He's name is {{ nombre }}, he's {{ edad }} years old and he was born in {{ nacimiento }} </h3>
</body>
</html>