<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>MVT_Ranucci</title>
</head>
<body>
    <div class="opciones">
        <p> Podés consultar los parientes terminando la URL con: </p>
    </div>
            <div class="opcion1"> <a href="./hermano.html"> <p> /hermano </p> </a> </div>
            <div class="opcion2"> <a href="./primo.html"> <p> /primo </p> </a> </div>
            <div class="opcion3"> <a href="./sobrino.html"> <p> /sobrino </p> </a> </div>

</body>
</html>