*{
    background-color: #000;
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.opciones h1{
    width: 440px;
    height: 70px;
    margin: 100px 200px;
    padding: 10px;
    border: 8px solid #1985A1;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    color: #CF1259;
    background-color: #2A1E5C;
}

.opciones h1:hover{
    color: #ffffff;
}

.opcion1 p{
    column-width: 10px;
    width: 130px;
    height: 35px;
    margin: 50px 50px;
    border: 4px solid #1985A1;
    background-color: #2A1E5C;
    color: #CF1259;
    font-size: 30px;
    padding: 8px;
    align-items: flex-end;
}

.opcion2 p{
    width: 130px;
    height: 35px;
    margin: 50px 50px;
    border: 4px solid #1985A1;
    background-color: #2A1E5C;
    color: #CF1259;
    font-size: 30px;
    padding: 8px;
    align-items: flex-end;
}

.opcion3 p{
    width: 130px;
    height: 35px;
    margin: 50px 50px;
    border: 4px solid #1985A1;
    background-color: #2A1E5C;
    color: #CF1259;
    font-size: 30px;
    padding: 8px;
    align-items:stretch;
}

.opcion1 p:hover{
    width: 210px;
    height: 65px;
    margin: 50px 50px;
    border: 6px solid #1985A1;
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding: 12px;
}

.opcion2 p:hover{
    width: 210px;
    height: 65px;
    margin: 50px 50px;
    border: 6px solid #1985A1;
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding: 12px;    
}

.opcion3 p:hover{
    width: 210px;
    height: 65px;
    margin: 50px 50px;
    border: 6px solid #1985A1;
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    padding: 12px;
}

